<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head')%>
</head>
<body>
  <main>
    <div id= 'page-title'>
      <h2>Book Details</h2>
      
    </div>
  </main>
  
</body>
</html>
