<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/base.css">
  <title>Document</title>
</head>
<header>
  <div class="nav-bar">
    <h1>Best Books!</h1>
    <img id="hamburger" src="/public/styles/images/hamberger.png" alt="hambuger">
  </div>

</header>

<body>
  <main>
    <div class="search-header">
      <h2>Search Results</h2>
    </div>
    <div class="result-container">
      <img src="https://source.unsplash.com/WLUHO9A_xik/500x900" alt="Book Image">
      <h3>title</h3>
      <h4>author</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit quam voluptatem magnam dolore perspiciatis ut ipsa. Animi, atque eveniet. Maiores incidunt nisi voluptatum, non libero consequatur? Non mollitia perspiciatis dolor?</p>

    </div>
    <ul>
      <% books.forEach( value =>{ %>
        <li id = "<%=value.title %>"> <%= value.title %>/<%= value.author%> </li>

      <% }) %>
    </ul>
  </main>

</body>

</html>