
.ham-bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}



#main-contain{
  max-width: 1000px;
  margin: auto;
  
}

.nav-bar{
  padding: 20px 40px 20px 40px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  

}

.search-header{
  padding: 20px;
  min-height: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #606060;
}

.book-contain{
  width: 80%;
  max-width: 600px;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.book-image{
  width: 425px;
  height: 650px;
  border: 10px solid white;
  margin-bottom: 25px;
  
}


.result-container{
  border: 2px solid rgb(153, 153, 153);
  border-radius: 8px;
  padding: 40px 0 130px 0;
  margin: 40px auto 40px auto;
  width: 80%;
  background-color: #e1e1e1;
  box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.45);
}

#book-title{
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px #201f1f;
  margin-bottom: 15px;
}

#book-author{
  font-size: 25px;
  font-style: italic;
  margin-bottom: 30px;
}





h1{
  color: white;
  font-size: 42px;
}

h2{
  color: white;
  font-size:30px;
  
}


.button-black{
  margin-top: 35px;
  padding: 5px 20px 5px 20px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: 0px;
  background-color: black;
  color: rgb(170, 170, 170);
  cursor: pointer;
  font-size: 22px;
}

.button-grey{
  margin-top: 35px;
  padding: 5px 20px 5px 20px;
  min-width: 80px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(168, 168, 168);
  color: rgb(44, 44, 44);
  cursor: pointer;
  border: 0px;
  font-size: 22px;

}


.footer-contain{
  padding: 30px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}