<div class="footer-contain">
  <img class="foot-logo" src="github_logo.png" alt="github logo">
  <img class="foot-logo" src="github_logo.png" alt="github logo">
  <img class="foot-logo" src="github_logo.png" alt="github logo">
  <img class="foot-logo" src="github_logo.png" alt="github logo">
</div>