<div class="nav-bar">
  <a href="/"><h1>Best Books!</h1></a>
  <div id=hamburger>
    
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="/">Book Shelf</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="#">Authors of Book-app</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="search-header">

  
    
  
  
 

</div>
